$sheetPurple: #6247b2;
$sheetBackground: #f9f9f9;
$tableGrey: #dcdcdc;
$textGrey: #6b6b6b;
$tableDataGrey: #4f4f4f;
$borderGrey: #bebebe;
$successGreen: #479f76;
$errorRed: #ea868f;
$successBlue: #3aadbd;
